{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-lg-12 h2 text-center">Discharge Patient</div>
        </div>
        <div class="row mt-3">
            <div class="offset-lg-2 col-lg-4">Patient Name</div>
            <div class="col-lg-6 fw-bold">{{ patient_details.patient_name }}</div>
        </div>
        <div class="row mt-3">
            <div class="offset-lg-2 col-lg-4">Admitted on</div>
            <div class="col-lg-6 fw-bold">{{ admission_detail.date_of_admission }}</div>
        </div>

        <hr>

        <div class="row mt-4 mb-4">
            <div class="col-lg-12 h2 text-center">Discharge Details</div>
        </div>
        <form action="{% url "discharge-patient" %}?admission_id={{ admission_detail.id }}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="row mt-3">
                    <div class="offset-lg-2 col-4">
                        {{ field.label }}
                    </div>
                    <div class="col-6">
                        {{ field }} {{ field.errors }}
                    </div>
                </div>
            {% endfor %}

            <hr>

            {% include 'patients/problems_and_diagnosis_form.html'%}
            <div class="row mt-2 mb-4">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-primary" type="submit">submit and discharge patient</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}